<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Product.wxi ?>
	<Fragment>
		<DirectoryRef Id="NQuery.Bin">
			<Component>
				<File Source="$(var.BinFolder)NQuery.dll" />
			</Component>
			<Component>
				<File Source="$(var.BinFolder)NQuery.xml" />
			</Component>
			<Component>
				<File Source="$(var.BinFolder)NQuery.UI.dll" />
			</Component>
			<Component>
				<File Source="$(var.BinFolder)NQuery.UI.xml" />
			</Component>
			<Component>
				<File Source="$(var.BinFolder)NQuery.UI.Actipro40.dll" />
			</Component>
			<Component>
				<File Source="$(var.BinFolder)NQuery.UI.Actipro40.xml" />
			</Component>
			<Component Id="VSAssemblyRegistration">
				<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\NQuery" Value="[NQuery.Bin]" Type="string"/>
			</Component>
		</DirectoryRef>

		<Feature Id="Binaries" Level="1" AllowAdvertise="no"
				 Title="Binaries"
				 Description="Installs the binaries and registers them in Visual Studio's Add Reference dialog box.">
			<ComponentRef Id="NQuery.dll"/>
			<ComponentRef Id="NQuery.xml"/>
			<ComponentRef Id="NQuery.UI.dll"/>
			<ComponentRef Id="NQuery.UI.xml"/>
			<ComponentRef Id="NQuery.UI.Actipro40.dll"/>
			<ComponentRef Id="NQuery.UI.Actipro40.xml"/>
			<ComponentRef Id="VSAssemblyRegistration"/>
		</Feature>
	</Fragment>
</Wix>