<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Product.wxi ?>
	<Fragment>
		<DirectoryRef Id="NQuery.Demo">

			<!-- Main Demo App -->

			<Component Id="Demo_NQueryDemo.exe">
				<File Id="Demo_NQueryDemo.exe" Source="$(var.DemoFolder)NQueryDemo.exe" />
			</Component>

			<!-- Demo App UI Addins -->

			<Component Id="Demo_NQuery.Demo.AddIns.dll">
				<File Id="Demo_NQuery.Demo.AddIns.dll" Source="$(var.DemoFolder)NQuery.Demo.AddIns.dll" />
			</Component>
			<Directory Id="AddIns" Name="AddIns">
				<Component Id="Demo_NQuery.Demo.DefaultAddIns.addin">
					<File Id="Demo_NQuery.Demo.DefaultAddIns.addin" Source="$(var.DemoFolder)AddIns\NQuery.Demo.DefaultAddIns.addin" />
				</Component>
			</Directory>

			<!-- Main NQuery Lib -->

			<Component Id="Demo_NQuery.dll">
				<File Id="Demo_NQuery.dll" Source="$(var.DemoFolder)NQuery.dll" />
			</Component>

			<!-- NQuery UI Support -->

			<Component Id="Demo_NQuery.UI.dll">
				<File Id="Demo_NQuery.UI.dll" Source="$(var.DemoFolder)NQuery.UI.dll" />
			</Component>
			<Component Id="Demo_NQuery.UI.Actipro40.dll">
				<File Id="Demo_NQuery.UI.Actipro40.dll" Source="$(var.DemoFolder)NQuery.UI.Actipro40.dll" />
			</Component>

			<!-- Syntax Editor -->

			<Component Id="Demo_ActiproSoftware.Shared.Net20.dll">
				<File Id="Demo_ActiproSoftware.Shared.Net20.dll" Source="$(var.LibFolder)ActiproSoftware.Shared.Net20.dll" />
			</Component>
			<Component Id="Demo_ActiproSoftware.SyntaxEditor.Net20.dll">
				<File Id="Demo_ActiproSoftware.SyntaxEditor.Net20.dll" Source="$(var.LibFolder)ActiproSoftware.SyntaxEditor.Net20.dll" />
			</Component>
			<Component Id="Demo_ActiproSoftware.WinUICore.Net20.dll">
				<File Id="Demo_ActiproSoftware.WinUICore.Net20.dll" Source="$(var.LibFolder)ActiproSoftware.WinUICore.Net20.dll" />
			</Component>

			<!-- Docking Support -->

			<Component Id="Demo_SandDock.dll">
				<File Id="Demo_SandDock.dll" Source="$(var.LibFolder)SandDock.dll" />
			</Component>

			<!-- DataSet demo files -->

			<Directory Id="Data" Name="Data">
				<Component Id="Demo_AdventureWorks_Cinema.xml">
					<File Id="Demo_AdventureWorks_Cinema.xml" Source="$(var.DemoFolder)Data\AdventureWorks Cinema.xml" />
				</Component>
				<Component Id="Demo_JoinTables.xml">
					<File Id="Demo_JoinTables.xml" Source="$(var.DemoFolder)Data\JoinTables.xml" />
				</Component>
				<Component Id="Demo_Northwind.xml">
					<File Id="Demo_Northwind.xml" Source="$(var.DemoFolder)Data\Northwind.xml" />
				</Component>
				<Component Id="Demo_Pubs.xml">
					<File Id="Demo_Pubs.xml" Source="$(var.DemoFolder)Data\Pubs.xml" />
				</Component>
			</Directory>
		</DirectoryRef>

		<Feature Id="Demo" Level="1" AllowAdvertise="no"
				 Title="Demo"
				 Description="Installs a rich demo application that demonstrates all components of NQuery.">

			<!-- Main Demo App -->
			
			<ComponentRef Id="Demo_NQueryDemo.exe" />
			
			<!-- Demo App UI Addins -->
			
			<ComponentRef Id="Demo_NQuery.Demo.AddIns.dll" />
			<ComponentRef Id="Demo_NQuery.Demo.DefaultAddIns.addin" />
			
			<!-- Main NQuery Lib -->
			
			<ComponentRef Id="Demo_NQuery.dll" />
			
			<!-- NQuery UI Support -->
			
			<ComponentRef Id="Demo_NQuery.UI.dll" />
			<ComponentRef Id="Demo_NQuery.UI.Actipro40.dll" />
			
			<!-- Syntax Editor -->
			
			<ComponentRef Id="Demo_ActiproSoftware.Shared.Net20.dll" />
			<ComponentRef Id="Demo_ActiproSoftware.SyntaxEditor.Net20.dll" />
			<ComponentRef Id="Demo_ActiproSoftware.WinUICore.Net20.dll" />

			<!-- Docking Support -->
			
			<ComponentRef Id="Demo_SandDock.dll" />
			
			<!-- DataSet demo files -->
			
			<ComponentRef Id="Demo_AdventureWorks_Cinema.xml" />
			<ComponentRef Id="Demo_JoinTables.xml" />
			<ComponentRef Id="Demo_Northwind.xml" />
			<ComponentRef Id="Demo_Pubs.xml" />
		</Feature>
	</Fragment>	
</Wix>