<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
	<?include Product.wxi ?>
	<Fragment>
		<DirectoryRef Id="NQuery.Help">
			<Component Id="NQuery.hxs" Guid="{27BD3CEF-6A34-4FB8-9C51-6F9575FF886D}">
				<File Id="NQuery.hxs" Name="NQuery.hxs" KeyPath="yes" Source="$(var.HelpFolder)NQuery.hxs">
					<vs:HelpFile Id="NQuery"
								 Name="NQuery"
								 Language="1033" />
				</File>
			</Component>
			<Component Id="NQuery.hxc" Guid="{FE3D7A00-675D-4E61-A4D7-04BC387F8853}">
				<File Id="NQuery.hxc" Name="NQuery.hxc" KeyPath="yes" Source="$(var.HelpFolder)NQuery.hxc">
					<vs:HelpCollection Id="NQuery_en"
									   Name="NQuery.en"
									   Description="NQuery">
						<vs:HelpFileRef Id="NQuery"/>
						<vs:HelpFilterRef Id="NQuery"/>
						<vs:PlugCollectionInto TargetFeature="HelpVS"
											   TableOfContents="NQuery.hxt"
											   TargetCollection="MS.VSIPCC.v90"
											   TargetTableOfContents="FL_vsipcc_hxt_86880_86880_cn_ln" />
					</vs:HelpCollection>
				</File>
			</Component>			
			<Component Id="NQuery.hxt" Guid="{28A5BC4D-E63C-4680-821E-7DCD23F1B528}">
				<File Id="NQuery.hxt" Name="NQuery.hxt" KeyPath="yes" Source="$(var.HelpFolder)NQuery.hxt" />
			</Component>
			<Component Id="NQuery_a.hxk" Guid="{E167D2DA-41AF-4954-BF50-8BA165354639}">
				<File Id="NQuery_a.hxk" Name="NQuery_a.hxk" KeyPath="yes" Source="$(var.HelpFolder)NQuery_a.hxk" />
			</Component>
			<Component Id="NQuery_b.hxk" Guid="{33AE6228-35A8-4940-B746-058BC1CD0599}">
				<File Id="NQuery_b.hxk" Name="NQuery_b.hxk" KeyPath="yes" Source="$(var.HelpFolder)NQuery_b.hxk" />
			</Component>
			<Component Id="NQuery_f.hxk" Guid="{12587047-13BF-4A2C-8C34-4FECCA94B868}">
				<File Id="NQuery_f.hxk" Name="NQuery_f.hxk" KeyPath="yes" Source="$(var.HelpFolder)NQuery_f.hxk" />
			</Component>
			<Component Id="NQuery_k.hxk" Guid="{88620AA2-0C41-485A-A3ED-9574BE8ABB8E}">
				<File Id="NQuery_k.hxk" Name="NQuery_k.hxk" KeyPath="yes" Source="$(var.HelpFolder)NQuery_k.hxk" />
			</Component>
			<Component Id="NQuery_NamedURLIndex.hxk" Guid="{4AC66EBA-6BD2-4113-A052-37784239393F}">
				<File Id="NQuery_NamedURLIndex.hxk" Name="NQuery_NamedURLIndex.hxk" KeyPath="yes" Source="$(var.HelpFolder)NQuery_NamedURLIndex.hxk" />
			</Component>
			<Component Id="NQuery_s.hxk" Guid="{450222D7-A0CF-48D6-9F2F-DCA10C555447}">
				<File Id="NQuery_s.hxk" Name="NQuery_s.hxk" KeyPath="yes" Source="$(var.HelpFolder)NQuery_s.hxk" />
			</Component>
		</DirectoryRef>

		<vs:HelpFilter Id="NQuery"
					   Name="NQuery"
					   FilterDefinition="&quot;DocSet&quot; = &quot;NQuery&quot;"/>

		<Feature Id="HelpVS" Level="1" AllowAdvertise="no"
				 Title="Help (VS2008)"
				 Description="Integrates NQuery help into the Visual Studio 2008 help system.">
			<ComponentRef Id="NQuery.hxs"/>
			<ComponentRef Id="NQuery.hxc"/>
			<ComponentRef Id="NQuery.hxt"/>
			<ComponentRef Id="NQuery_a.hxk"/>
			<ComponentRef Id="NQuery_b.hxk"/>
			<ComponentRef Id="NQuery_f.hxk"/>
			<ComponentRef Id="NQuery_k.hxk"/>
			<ComponentRef Id="NQuery_NamedURLIndex.hxk"/>
			<ComponentRef Id="NQuery_s.hxk"/>
		</Feature>
	</Fragment>
</Wix>