<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Product.wxi ?>
	<Fragment>
		<DirectoryRef Id="NQuery.Samples">
			<Component Id="NQuery.Samples.sln">
				<File Id="NQuery.Samples.sln" Name="NQuery.Samples.sln" Source="$(var.SamplesFolder)NQuery.Samples.sln" />
			</Component>
			<Directory Id="Extensibility" Name="Extensibility">
				<Directory Id="CustomAggregate" Name="CustomAggregate">
					<Component Id="CustomAggregate.cs">
						<File Id="CustomAggregate.cs" Name="CustomAggregate.cs" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\CustomAggregate.cs" />
					</Component>
					<Component Id="CustomAggregate.csproj">
						<File Id="CustomAggregate.csproj" Name="CustomAggregate.csproj" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\CustomAggregate.csproj" />
					</Component>
					<Component Id="Form1.cs_1">
						<File Id="Form1.cs_1" Name="Form1.cs" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_1">
						<File Id="Form1.Designer.cs_1" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_1">
						<File Id="Form1.resx_1" Name="Form1.resx" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Form1.resx" />
					</Component>
					<Component Id="Program.cs_1">
						<File Id="Program.cs_1" Name="Program.cs" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Program.cs" />
					</Component>
					<Directory Id="Properties_1" Name="Properties">
						<Component Id="AssemblyInfo.cs_1">
							<File Id="AssemblyInfo.cs_1" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_1">
							<File Id="Resources.Designer.cs_1" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_1">
							<File Id="Resources.resx_1" Name="Resources.resx" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_1">
							<File Id="Settings.Designer.cs_1" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_1">
							<File Id="Settings.settings_1" Name="Settings.settings" Source="$(var.SamplesFolder)Extensibility\CustomAggregate\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="CustomComparer" Name="CustomComparer">
					<Component Id="CustomComparer.csproj">
						<File Id="CustomComparer.csproj" Name="CustomComparer.csproj" Source="$(var.SamplesFolder)Extensibility\CustomComparer\CustomComparer.csproj" />
					</Component>
					<Component Id="Form1.cs_2">
						<File Id="Form1.cs_2" Name="Form1.cs" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_2">
						<File Id="Form1.Designer.cs_2" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_2">
						<File Id="Form1.resx_2" Name="Form1.resx" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Form1.resx" />
					</Component>
					<Component Id="MyComparer.cs">
						<File Id="MyComparer.cs" Name="MyComparer.cs" Source="$(var.SamplesFolder)Extensibility\CustomComparer\MyComparer.cs" />
					</Component>
					<Component Id="Program.cs_2">
						<File Id="Program.cs_2" Name="Program.cs" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Program.cs" />
					</Component>
					<Directory Id="Properties_2" Name="Properties">
						<Component Id="AssemblyInfo.cs_2">
							<File Id="AssemblyInfo.cs_2" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_2">
							<File Id="Resources.Designer.cs_2" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_2">
							<File Id="Resources.resx_2" Name="Resources.resx" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_2">
							<File Id="Settings.Designer.cs_2" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_2">
							<File Id="Settings.settings_2" Name="Settings.settings" Source="$(var.SamplesFolder)Extensibility\CustomComparer\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="CustomFunctions" Name="CustomFunctions">
					<Component Id="CustomFunctions.csproj">
						<File Id="CustomFunctions.csproj" Name="CustomFunctions.csproj" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\CustomFunctions.csproj" />
					</Component>
					<Component Id="Form1.cs_3">
						<File Id="Form1.cs_3" Name="Form1.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_3">
						<File Id="Form1.Designer.cs_3" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_3">
						<File Id="Form1.resx_3" Name="Form1.resx" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Form1.resx" />
					</Component>
					<Component Id="InstanceFunctionContainer.cs">
						<File Id="InstanceFunctionContainer.cs" Name="InstanceFunctionContainer.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\InstanceFunctionContainer.cs" />
					</Component>
					<Component Id="MyFunctionBinding.cs">
						<File Id="MyFunctionBinding.cs" Name="MyFunctionBinding.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\MyFunctionBinding.cs" />
					</Component>
					<Component Id="Program.cs_3">
						<File Id="Program.cs_3" Name="Program.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Program.cs" />
					</Component>
					<Component Id="StaticFunctionContainer.cs">
						<File Id="StaticFunctionContainer.cs" Name="StaticFunctionContainer.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\StaticFunctionContainer.cs" />
					</Component>
					<Directory Id="Properties_3" Name="Properties">
						<Component Id="AssemblyInfo.cs_3">
							<File Id="AssemblyInfo.cs_3" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_3">
							<File Id="Resources.Designer.cs_3" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_3">
							<File Id="Resources.resx_3" Name="Resources.resx" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_3">
							<File Id="Settings.Designer.cs_3" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_3">
							<File Id="Settings.settings_3" Name="Settings.settings" Source="$(var.SamplesFolder)Extensibility\CustomFunctions\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="CustomMethodProvider" Name="CustomMethodProvider">
					<Component Id="CustomMethodProvider.csproj">
						<File Id="CustomMethodProvider.csproj" Name="CustomMethodProvider.csproj" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\CustomMethodProvider.csproj" />
					</Component>
					<Component Id="Form1.cs_4">
						<File Id="Form1.cs_4" Name="Form1.cs" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_4">
						<File Id="Form1.Designer.cs_4" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_4">
						<File Id="Form1.resx_4" Name="Form1.resx" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Form1.resx" />
					</Component>
					<Component Id="MyReflectionProvider.cs_1">
						<File Id="MyReflectionProvider.cs_1" Name="MyReflectionProvider.cs" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\MyReflectionProvider.cs" />
					</Component>
					<Component Id="Program.cs_4">
						<File Id="Program.cs_4" Name="Program.cs" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Program.cs" />
					</Component>
					<Directory Id="Properties_4" Name="Properties">
						<Component Id="AssemblyInfo.cs_4">
							<File Id="AssemblyInfo.cs_4" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_4">
							<File Id="Resources.Designer.cs_4" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_4">
							<File Id="Resources.resx_4" Name="Resources.resx" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_4">
							<File Id="Settings.Designer.cs_4" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_4">
							<File Id="Settings.settings_4" Name="Settings.settings" Source="$(var.SamplesFolder)Extensibility\CustomMethodProvider\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="CustomPropertyProvider" Name="CustomPropertyProvider">
					<Component Id="CustomPropertyProvider.csproj">
						<File Id="CustomPropertyProvider.csproj" Name="CustomPropertyProvider.csproj" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\CustomPropertyProvider.csproj" />
					</Component>
					<Component Id="Form1.cs_5">
						<File Id="Form1.cs_5" Name="Form1.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_5">
						<File Id="Form1.Designer.cs_5" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_5">
						<File Id="Form1.resx_5" Name="Form1.resx" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Form1.resx" />
					</Component>
					<Component Id="MyPropertyProvider.cs">
						<File Id="MyPropertyProvider.cs" Name="MyPropertyProvider.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\MyPropertyProvider.cs" />
					</Component>
					<Component Id="MyReflectionProvider.cs_2">
						<File Id="MyReflectionProvider.cs_2" Name="MyReflectionProvider.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\MyReflectionProvider.cs" />
					</Component>
					<Component Id="Program.cs_5">
						<File Id="Program.cs_5" Name="Program.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Program.cs" />
					</Component>
					<Directory Id="Properties_5" Name="Properties">
						<Component Id="AssemblyInfo.cs_5">
							<File Id="AssemblyInfo.cs_5" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_5">
							<File Id="Resources.Designer.cs_5" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_5">
							<File Id="Resources.resx_5" Name="Resources.resx" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_5">
							<File Id="Settings.Designer.cs_5" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_5">
							<File Id="Settings.settings_5" Name="Settings.settings" Source="$(var.SamplesFolder)Extensibility\CustomPropertyProvider\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="CustomTable" Name="CustomTable">
					<Component Id="CustomTable.csproj">
						<File Id="CustomTable.csproj" Name="CustomTable.csproj" Source="$(var.SamplesFolder)Extensibility\CustomTable\CustomTable.csproj" />
					</Component>
					<Component Id="Form1.cs_6">
						<File Id="Form1.cs_6" Name="Form1.cs" Source="$(var.SamplesFolder)Extensibility\CustomTable\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_6">
						<File Id="Form1.Designer.cs_6" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomTable\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_6">
						<File Id="Form1.resx_6" Name="Form1.resx" Source="$(var.SamplesFolder)Extensibility\CustomTable\Form1.resx" />
					</Component>
					<Component Id="MyTableBinding.cs">
						<File Id="MyTableBinding.cs" Name="MyTableBinding.cs" Source="$(var.SamplesFolder)Extensibility\CustomTable\MyTableBinding.cs" />
					</Component>
					<Component Id="Program.cs_6">
						<File Id="Program.cs_6" Name="Program.cs" Source="$(var.SamplesFolder)Extensibility\CustomTable\Program.cs" />
					</Component>
					<Directory Id="Properties_6" Name="Properties">
						<Component Id="AssemblyInfo.cs_6">
							<File Id="AssemblyInfo.cs_6" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Extensibility\CustomTable\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_6">
							<File Id="Resources.Designer.cs_6" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomTable\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_6">
							<File Id="Resources.resx_6" Name="Resources.resx" Source="$(var.SamplesFolder)Extensibility\CustomTable\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_6">
							<File Id="Settings.Designer.cs_6" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Extensibility\CustomTable\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_6">
							<File Id="Settings.settings_6" Name="Settings.settings" Source="$(var.SamplesFolder)Extensibility\CustomTable\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="Overview" Name="Overview">
				<Directory Id="ParametersVsConstants" Name="ParametersVsConstants">
					<Component Id="ParametersVsConstants.csproj">
						<File Id="ParametersVsConstants.csproj" Name="ParametersVsConstants.csproj" Source="$(var.SamplesFolder)Overview\ParametersVsConstants\ParametersVsConstants.csproj" />
					</Component>
					<Component Id="Program.cs_7">
						<File Id="Program.cs_7" Name="Program.cs" Source="$(var.SamplesFolder)Overview\ParametersVsConstants\Program.cs" />
					</Component>
					<Directory Id="Properties_7" Name="Properties">
						<Component Id="AssemblyInfo.cs_7">
							<File Id="AssemblyInfo.cs_7" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Overview\ParametersVsConstants\Properties\AssemblyInfo.cs" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="QuickStarts" Name="Quick Starts">
				<Directory Id="ExpressionQuickStart" Name="ExpressionQuickStart">
					<Component Id="ExpressionQuickStart.csproj">
						<File Id="ExpressionQuickStart.csproj" Name="ExpressionQuickStart.csproj" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\ExpressionQuickStart.csproj" />
					</Component>
					<Component Id="Form1.cs_7">
						<File Id="Form1.cs_7" Name="Form1.cs" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_7">
						<File Id="Form1.Designer.cs_7" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_7">
						<File Id="Form1.resx_7" Name="Form1.resx" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Form1.resx" />
					</Component>
					<Component Id="Program.cs_8">
						<File Id="Program.cs_8" Name="Program.cs" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Program.cs" />
					</Component>
					<Directory Id="Properties_8" Name="Properties">
						<Component Id="AssemblyInfo.cs_8">
							<File Id="AssemblyInfo.cs_8" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_7">
							<File Id="Resources.Designer.cs_7" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_7">
							<File Id="Resources.resx_7" Name="Resources.resx" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_7">
							<File Id="Settings.Designer.cs_7" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_7">
							<File Id="Settings.settings_7" Name="Settings.settings" Source="$(var.SamplesFolder)Quick Starts\ExpressionQuickStart\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="QueryQuickStart" Name="QueryQuickStart">
					<Component Id="Form1.cs_8">
						<File Id="Form1.cs_8" Name="Form1.cs" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Form1.cs" />
					</Component>
					<Component Id="Form1.Designer.cs_8">
						<File Id="Form1.Designer.cs_8" Name="Form1.Designer.cs" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Form1.Designer.cs" />
					</Component>
					<Component Id="Form1.resx_8">
						<File Id="Form1.resx_8" Name="Form1.resx" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Form1.resx" />
					</Component>
					<Component Id="Program.cs_9">
						<File Id="Program.cs_9" Name="Program.cs" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Program.cs" />
					</Component>
					<Component Id="QueryQuickStart.csproj">
						<File Id="QueryQuickStart.csproj" Name="QueryQuickStart.csproj" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\QueryQuickStart.csproj" />
					</Component>
					<Directory Id="Properties_9" Name="Properties">
						<Component Id="AssemblyInfo.cs_9">
							<File Id="AssemblyInfo.cs_9" Name="AssemblyInfo.cs" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Properties\AssemblyInfo.cs" />
						</Component>
						<Component Id="Resources.Designer.cs_8">
							<File Id="Resources.Designer.cs_8" Name="Resources.Designer.cs" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Properties\Resources.Designer.cs" />
						</Component>
						<Component Id="Resources.resx_8">
							<File Id="Resources.resx_8" Name="Resources.resx" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Properties\Resources.resx" />
						</Component>
						<Component Id="Settings.Designer.cs_8">
							<File Id="Settings.Designer.cs_8" Name="Settings.Designer.cs" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Properties\Settings.Designer.cs" />
						</Component>
						<Component Id="Settings.settings_8">
							<File Id="Settings.settings_8" Name="Settings.settings" Source="$(var.SamplesFolder)Quick Starts\QueryQuickStart\Properties\Settings.settings" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>

		<Feature Id="Samples" Level="1" AllowAdvertise="no"
				 Title="Samples" Description="Installs samples that show how NQuery can be used.">
			<ComponentRef Id="NQuery.Samples.sln" />
			<ComponentRef Id="CustomAggregate.cs" />
			<ComponentRef Id="CustomAggregate.csproj" />
			<ComponentRef Id="Form1.cs_1" />
			<ComponentRef Id="Form1.Designer.cs_1" />
			<ComponentRef Id="Form1.resx_1" />
			<ComponentRef Id="Program.cs_1" />
			<ComponentRef Id="AssemblyInfo.cs_1" />
			<ComponentRef Id="Resources.Designer.cs_1" />
			<ComponentRef Id="Resources.resx_1" />
			<ComponentRef Id="Settings.Designer.cs_1" />
			<ComponentRef Id="Settings.settings_1" />
			<ComponentRef Id="CustomComparer.csproj" />
			<ComponentRef Id="Form1.cs_2" />
			<ComponentRef Id="Form1.Designer.cs_2" />
			<ComponentRef Id="Form1.resx_2" />
			<ComponentRef Id="MyComparer.cs" />
			<ComponentRef Id="Program.cs_2" />
			<ComponentRef Id="AssemblyInfo.cs_2" />
			<ComponentRef Id="Resources.Designer.cs_2" />
			<ComponentRef Id="Resources.resx_2" />
			<ComponentRef Id="Settings.Designer.cs_2" />
			<ComponentRef Id="Settings.settings_2" />
			<ComponentRef Id="CustomFunctions.csproj" />
			<ComponentRef Id="Form1.cs_3" />
			<ComponentRef Id="Form1.Designer.cs_3" />
			<ComponentRef Id="Form1.resx_3" />
			<ComponentRef Id="InstanceFunctionContainer.cs" />
			<ComponentRef Id="MyFunctionBinding.cs" />
			<ComponentRef Id="Program.cs_3" />
			<ComponentRef Id="StaticFunctionContainer.cs" />
			<ComponentRef Id="AssemblyInfo.cs_3" />
			<ComponentRef Id="Resources.Designer.cs_3" />
			<ComponentRef Id="Resources.resx_3" />
			<ComponentRef Id="Settings.Designer.cs_3" />
			<ComponentRef Id="Settings.settings_3" />
			<ComponentRef Id="CustomMethodProvider.csproj" />
			<ComponentRef Id="Form1.cs_4" />
			<ComponentRef Id="Form1.Designer.cs_4" />
			<ComponentRef Id="Form1.resx_4" />
			<ComponentRef Id="MyReflectionProvider.cs_1" />
			<ComponentRef Id="Program.cs_4" />
			<ComponentRef Id="AssemblyInfo.cs_4" />
			<ComponentRef Id="Resources.Designer.cs_4" />
			<ComponentRef Id="Resources.resx_4" />
			<ComponentRef Id="Settings.Designer.cs_4" />
			<ComponentRef Id="Settings.settings_4" />
			<ComponentRef Id="CustomPropertyProvider.csproj" />
			<ComponentRef Id="Form1.cs_5" />
			<ComponentRef Id="Form1.Designer.cs_5" />
			<ComponentRef Id="Form1.resx_5" />
			<ComponentRef Id="MyPropertyProvider.cs" />
			<ComponentRef Id="MyReflectionProvider.cs_2" />
			<ComponentRef Id="Program.cs_5" />
			<ComponentRef Id="AssemblyInfo.cs_5" />
			<ComponentRef Id="Resources.Designer.cs_5" />
			<ComponentRef Id="Resources.resx_5" />
			<ComponentRef Id="Settings.Designer.cs_5" />
			<ComponentRef Id="Settings.settings_5" />
			<ComponentRef Id="CustomTable.csproj" />
			<ComponentRef Id="Form1.cs_6" />
			<ComponentRef Id="Form1.Designer.cs_6" />
			<ComponentRef Id="Form1.resx_6" />
			<ComponentRef Id="MyTableBinding.cs" />
			<ComponentRef Id="Program.cs_6" />
			<ComponentRef Id="AssemblyInfo.cs_6" />
			<ComponentRef Id="Resources.Designer.cs_6" />
			<ComponentRef Id="Resources.resx_6" />
			<ComponentRef Id="Settings.Designer.cs_6" />
			<ComponentRef Id="Settings.settings_6" />
			<ComponentRef Id="ParametersVsConstants.csproj" />
			<ComponentRef Id="Program.cs_7" />
			<ComponentRef Id="AssemblyInfo.cs_7" />
			<ComponentRef Id="ExpressionQuickStart.csproj" />
			<ComponentRef Id="Form1.cs_7" />
			<ComponentRef Id="Form1.Designer.cs_7" />
			<ComponentRef Id="Form1.resx_7" />
			<ComponentRef Id="Program.cs_8" />
			<ComponentRef Id="AssemblyInfo.cs_8" />
			<ComponentRef Id="Resources.Designer.cs_7" />
			<ComponentRef Id="Resources.resx_7" />
			<ComponentRef Id="Settings.Designer.cs_7" />
			<ComponentRef Id="Settings.settings_7" />
			<ComponentRef Id="Form1.cs_8" />
			<ComponentRef Id="Form1.Designer.cs_8" />
			<ComponentRef Id="Form1.resx_8" />
			<ComponentRef Id="Program.cs_9" />
			<ComponentRef Id="QueryQuickStart.csproj" />
			<ComponentRef Id="AssemblyInfo.cs_9" />
			<ComponentRef Id="Resources.Designer.cs_8" />
			<ComponentRef Id="Resources.resx_8" />
			<ComponentRef Id="Settings.Designer.cs_8" />
			<ComponentRef Id="Settings.settings_8" />
		</Feature>
	</Fragment>
</Wix>